.b-header {
  font-size:14px;
  font-weight:600;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
  width: 100%;
  background-color: $secondary;
  height: 80px;
  margin-bottom: 0;

  .contents {
    margin: 15px 0;
  }

  .title {
    float: left;
    margin-right: 24px;
    a {
      color: $primary;
    }
    &:visited {
      color: $primary;
    }
    .rtl & {
      float: right;
      margin-left: 24px;
      margin-right: 0;
    }
  }

  #brand-logo {
    max-height: 43.2px;
  }

  #brand-text-logo {
    line-height: 32px;
    margin: 0;
  }

  nav.links {
    float: left;
    .rtl & {
      float: right;
    }
  }

  .nav-pills {
    margin-bottom: 0;
    > li > a {
      color: rgba(255,255,255,.6);
      line-height: 40px;
      font-size:14px;
      &:hover {
        // color: $quaternary;
        opacity: .7;
        // background-color: dark-light-diff($quaternary, $tertiary, -70%, 70%);
      }
      &.active > a, > a.active {
        color: $tertiary;
        // background-color: $quaternary;
      }
    }
    > li:last-child > a{
        color: $tertiary;
    }
  }

  .panel {
    float: right;
    position: relative;
    .rtl & {
      float: left;
    }
  }

  .menu-panel {
    position: absolute;
    top: 100%;
    right: -10px;
    z-index: 1001;
    .rtl & {
      right: inherit;
      left: -10px;
    }
  }

  ul.icons {
    text-align: center;
    margin: 0 0 0 5px;
    > li {
      float: left;
      list-style: none;
    }
    a, [class^="fa fa-"] {
      width: 28px;
      height: 28px;
      font-size: 16px;
      line-height: 28px;
      display: inline-block;
      margin: 2px;
    }
    .rtl & {
        margin: 0 5px 0 0;
      > li {
        float: right;
      }
    }
  }

  .panel > ul.icons {
    float: right;
    a, [class^="fa fa-"] {
      color: $secondary;
      .d-icon {
        color: #4caf50;
        width: 1.3em;
        height: 1.3em;
        margin-top: 12px;
      }
    }
    .rtl & {
      float: left;
    }
  }
}

.ember-application .d-header {
    margin-top: 80px;
}

.docked .ember-application .d-header {
    margin-top: 0;
}
